.Download {
    width:100%;
    height:100%;
    background: url('/images/loadApp.png') no-repeat center;
    position:absolute; width:100%; height:100%; z-index:-1;
    background-size:100% 100%;
}
.black {
    height: 35%;
}

.iosDownload{
    width:100%;
    height:100%;
    background-color: #222222;
    opacity: 0.8;
    flex:1;
    overflow:hidden;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;

}
.andoridDownload{
    width:100%;
    height:100%;
    background-color: #222222;
    opacity: 0.8;
    flex:1;
    overflow:hidden;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
}
.iosDownloadImg{
   width:60%;
    height:65px;
}
.andoridDownloadImg{
    width:60%;
    height:65px;
}
.ios_app_a{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.android_app_a{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}