@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.same{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.nav-bar{
  height: 50px;
  background-color: #E54A2E;
}
.nav-bar span{
  color:white
}

.footer{
  height: 50px;
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #E54A2E;
}
.text{
  color:white
}