
.pic_qqmusic_default {
    position: absolute;
    width: 37px;
    height: 37px;
    top:12px;
    left:12px;
}
.qqmusic_thumb {
    display: block;
    width: 60px;
    height: 60px !important;
}
.qqmusic_area {
    display: block;
    margin: 17px 1px 16px 0;
    font-weight: 400;
    text-decoration: none;
    font-size: 0;
    line-height: 0;
    text-align: left;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.article {
    font-size: 15px !important;
    color: rgb(51, 51, 51) !important;
    letter-spacing: 1px !important;
    line-height: 1.75em !important;
}

.min{
    width:100px;
    height:100px;
}
.max{
    width:100%;
    height:auto;
}